
ul {
	margin: 0;
	padding:0;

}

li{
	list-style-type: none;
}

.img-thumbnail{

	margin-top: 1em;
	margin-bottom: 1em;
}

.dynamicLI {
	padding: auto;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.happy-list li {
	display: inline-block;
	padding: .25em;
	margin-top: .5em;
	margin: .25em;
}